@model Aesop

@{
    ViewData["Title"] = "All Aesop";
}

<h1>@Model.Name</h1>
<h3>@ViewData["Message"]</h3>

<div class="card" style="width: 200px">
    <img class="card-img-top" src="@Model.ImageUrl" alt="@Model.Name" />
    <div class="card-body">
        <h3 class="pull-right">@Model.Price</h3>
        <h4 class="card-title">@Model.Name</h4>
        <p class="card-text">@Model.Description</p>
        <a href="#" class="btn btn-primary">See Detail</a>
    </div>
    <div class="addToCart">
        <p class="button">
            <a AAAAAclass="btn btn-primary"
               asp-controller="ShopCart"
               asp-action="AddToShopCart"
               asp-route-aesopId="@Model.AesopId">Add to Cart</a>
        </p>
    </div>
</div>