@model AesopListViewModel


    <h1>@Model.CurrentCategory</h1>
    @foreach (var aesop in Model.Aesops)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="@aesop.ImageThumbnailUrl" alt="image aesop eric shop" />
                <div class="caption">
                    <h3 class="pull-right">@aesop.Price.ToString("c")</h3>
                    <h3>@aesop.Name</h3>
                    <p>@aesop.Category.CategoryName</p>
                </div>
            </div>
        </div>
    }
